@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}
